{% extends "base.html" %}

{% block announce %}
    <a href="/about/about-news.html">The Champlain WeBWorK system has been upgraded to version 2.17</a>
{% endblock %}

{% block extrahead %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/apple-touch-icon.png' | url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/favicon-32x32.png' | url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/favicon-16x16.png' | url }}">
    <link rel="manifest" href="{{ 'site.webmanifest' | url }}">
    <link rel="mask-icon" href="{{ 'assets/safari-pinned-tab.svg' | url }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ 'favicon.ico' | url }}">
    <meta name="apple-mobile-web-app-title" content="WeBWorK">
    <meta name="application-name" content="WeBWorK">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="{{ 'browserconfig.xml' | url }}">
    <meta name="theme-color" content="#0081cc">
{% endblock %}
